* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
}

#bgimg {
  background: url("../img/mainbg.png") no-repeat fixed;
  background-size: 74em 35em;
  background-position: bottom right;
  padding: 2.5px;
  overflow: hidden; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgba(160, 160, 160, 0.1); }

li {
  float: right; }

#mainimg {
  margin-left: 9px;
  margin-top: 0.8px; }

li a {
  font-family: 'Prompt', sans-serif;
  display: block;
  color: #4d4d4d;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  letter-spacing: 1px; }

/* Change the link color to #111 (black) on hover */
li a:hover {
  cursor: pointer; }

/* SQUARE */
.square-box {
  position: relative;
  margin: 0 auto 100px;
  bottom: 70px;
  width: 21.5em;
  height: 20em;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.65);
  border-radius: 33px; }
  .square-box:before {
    content: "";
    display: block;
    padding-top: 100%; }

.square-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white; }
  .square-content div {
    display: table;
    width: 100%;
    height: 100%; }
  .square-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #000000; }
    .square-content span .quote {
      font-size: 9px;
      font-family: 'Open Sans', sans-serif;
      font-style: italic;
      text-align: left;
      margin-left: 54px; }
    .square-content span .button {
      background-color: #4DD0E1;
      /* btn Color */
      border: 0.5px solid #707070;
      border-radius: 31px;
      color: #525252;
      padding: 9px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      margin: 10px 2px;
      cursor: pointer;
      letter-spacing: 0.5px; }

/* SQUARE */
.square-box2 {
  position: relative;
  margin: 85px auto 100px;
  bottom: 70px;
  width: 85em;
  height: 40em;
  overflow: hidden;
  background: rgba(226, 225, 225, 0.65);
  border-radius: 33px; }
  .square-box2:before {
    content: "";
    display: block;
    padding-top: 100%; }

.square-content2 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white; }
  .square-content2 div {
    display: table;
    width: 100%;
    height: 100%; }
  .square-content2 #squarecontent {
    font-family: 'Open Sans', sans-serif;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #000000; }
    .square-content2 #squarecontent #reporthead {
      font-size: 30px;
      margin-top: 17px; }
    .square-content2 #squarecontent #abouthead {
      font-size: 30px;
      margin-top: 17px;
      color: #000000;
      font-style: 900; }
    .square-content2 #squarecontent #abouttext {
      text-align: left;
      margin-left: 80px;
      margin-right: 80px;
      font-size: 23px;
      color: #000;
      font-weight: 400; }
    .square-content2 #squarecontent #personalweblink {
      color: #000000; }
    .square-content2 #squarecontent #contacthead {
      font-size: 30px;
      margin-top: 17px;
      color: #000000;
      font-style: 900; }
    .square-content2 #squarecontent #boxes {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 1rem; }
      .square-content2 #squarecontent #boxes div {
        font-size: 2rem;
        border: 3px #fff solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        transition: all 0.4s ease-out; }
        .square-content2 #squarecontent #boxes div:hover {
          padding: 0.5rem 1.5rem;
          background: #eece1a;
          color: set-text-color(#eece1a); }
          .square-content2 #squarecontent #boxes div:hover span {
            color: set-text-color(#eece1a); }
    .square-content2 #squarecontent #maincontact {
      margin: 0; }
    .square-content2 #squarecontent #supporthead {
      font-size: 30px;
      margin-top: 17px;
      color: #000000;
      font-style: 900; }
    .square-content2 #squarecontent #btc {
      font-size: 40px;
      color: #F2A900;
      float: left;
      margin-left: 95px;
      font-family: 'Courier New', Courier, monospace; }
    .square-content2 #squarecontent #bch {
      font-size: 32px;
      color: #1FBC2B;
      float: left;
      margin-left: 95px;
      font-family: 'Courier New', Courier, monospace; }
    .square-content2 #squarecontent #eth {
      font-size: 32px;
      color: #4357A3;
      float: left;
      margin-left: 95px;
      font-family: 'Courier New', Courier, monospace; }
    .square-content2 #squarecontent #ltc {
      font-size: 40px;
      color: #4D4F50;
      float: left;
      margin-left: 95px;
      font-family: 'Courier New', Courier, monospace; }
    .square-content2 #squarecontent #whatplatform {
      color: #4d4d4d;
      text-align: left;
      font-size: 17.5px;
      font-style: 400;
      margin-left: 30px; }
    .square-content2 #squarecontent #who {
      color: #4d4d4d;
      text-align: left;
      font-size: 17.5px;
      font-style: 400;
      margin-left: 30px; }
    .square-content2 #squarecontent #profilelink {
      color: #4d4d4d;
      text-align: left;
      font-size: 17.5px;
      font-style: 400;
      margin-left: 30px; }
    .square-content2 #squarecontent #description {
      color: #4d4d4d;
      text-align: left;
      font-size: 17.5px;
      font-style: 400;
      margin-left: 30px; }
    .square-content2 #squarecontent #desc {
      float: left !important;
      margin-left: 30px !important;
      margin-top: 5px !important;
      border: none !important;
      resize: none !important;
      color: green !important; }
    .square-content2 #squarecontent #btn2 {
      background-color: #4DD0E1;
      /* btn Color */
      border: 0.5px solid #707070;
      border-radius: 31px;
      color: #000000;
      padding: 9px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      font-style: 400;
      margin: 10px 2px;
      margin-top: 17px;
      cursor: pointer;
      letter-spacing: 0.5px; }
    .square-content2 #squarecontent input::-webkit-input-placeholder {
      color: green !important; }
    .square-content2 #squarecontent input {
      float: left !important;
      margin-left: 30px !important;
      margin-top: 5px !important;
      border-radius: 25px !important;
      border: none !important; }
  .square-content2 input:-moz-placeholder {
    /* Firefox 18- */
    color: green !important; }
  .square-content2 input::-moz-placeholder {
    /* Firefox 19+ */
    color: green !important; }
  .square-content2 input:-ms-input-placeholder {
    color: green !important; }
